flow-nodered/sensors.xml
[
    {
        "id": "65315474c93f390b",
        "type": "tab",
        "label": "Flow 8",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a56a6573a32c6719",
        "type": "inject",
        "z": "65315474c93f390b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "ac79983ba7534741",
                "9dcafe8337bc6147",
                "abf24b612cb44480"
            ]
        ]
    },
    {
        "id": "ac79983ba7534741",
        "type": "random",
        "z": "65315474c93f390b",
        "name": "Sensor Temperature",
        "low": "30",
        "high": "150",
        "inte": "true",
        "property": "payload",
        "x": 400,
        "y": 100,
        "wires": [
            [
                "6a586a391a026f24",
                "8d2a6994f0308978"
            ]
        ]
    },
    {
        "id": "9dcafe8337bc6147",
        "type": "random",
        "z": "65315474c93f390b",
        "name": "Sensor Friksi",
        "low": "5",
        "high": "80",
        "inte": "true",
        "property": "payload",
        "x": 370,
        "y": 240,
        "wires": [
            [
                "d845dc6e1d2494d9",
                "c8b1cdc8689f3406"
            ]
        ]
    },
    {
        "id": "abf24b612cb44480",
        "type": "random",
        "z": "65315474c93f390b",
        "name": "Sensor Daya Listrik",
        "low": "1000",
        "high": "1500",
        "inte": "true",
        "property": "payload",
        "x": 390,
        "y": 380,
        "wires": [
            [
                "7ccb873a1030be1b",
                "ef2f8d3afe37ad5d"
            ]
        ]
    },
    {
        "id": "6a586a391a026f24",
        "type": "mqtt out",
        "z": "65315474c93f390b",
        "name": "Sensor1",
        "topic": "sensor/1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42f78dc81b1a3654",
        "x": 640,
        "y": 100,
        "wires": []
    },
    {
        "id": "8d2a6994f0308978",
        "type": "debug",
        "z": "65315474c93f390b",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 160,
        "wires": []
    },
    {
        "id": "d845dc6e1d2494d9",
        "type": "debug",
        "z": "65315474c93f390b",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 300,
        "wires": []
    },
    {
        "id": "7ccb873a1030be1b",
        "type": "debug",
        "z": "65315474c93f390b",
        "name": "debug 25",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 440,
        "wires": []
    },
    {
        "id": "c8b1cdc8689f3406",
        "type": "mqtt out",
        "z": "65315474c93f390b",
        "name": "Sensor2",
        "topic": "sensor/2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42f78dc81b1a3654",
        "x": 640,
        "y": 240,
        "wires": []
    },
    {
        "id": "ef2f8d3afe37ad5d",
        "type": "mqtt out",
        "z": "65315474c93f390b",
        "name": "Sensor3",
        "topic": "sensor/3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42f78dc81b1a3654",
        "x": 640,
        "y": 380,
        "wires": []
    },
    {
        "id": "42f78dc81b1a3654",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]